<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Puppy Adoption Site</title>
  </head>
  <body>

    <form>
      <input type="text" name="name">
      <input type="text" name="age">
      <input type="text" name="breed">
      <input type="submit" name="submit">

    </form>

  </body>
</html>
